<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.lastviking.app.vgtd"
    android:versionCode="5"
    android:versionName="1.00" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <compatible-screens></compatible-screens>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="eu.lastviking.app.vgtd.LastVikingGTD"
        android:configChanges="orientation"
        android:allowBackup="true">
        <activity
            android:name=".MainView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".EditList"/>
        <activity android:name=".Actions"/>
        <activity android:name=".Action"/>
        <activity android:name=".WhenActivity"/>
        <activity android:name=".LocationsActivity"/>
        <activity android:name=".RepeatActivity"/>
        
        <provider 
            android:name=".GtdContentProvider"
            android:authorities="eu.lastviking.app.vgtd.cp"
            android:exported="false"
            ></provider>
       
    </application>

</manifest>
